
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=submit] {
    width: 8.33%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    float: right;
    
   
  }

  input[type=submit]:hover {
    background-color: #45a049;

  }
  input[type=text], select , textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=search] {
    background-color: white;
    background-image: url('./Slika/find-icon-10.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-size: 15px 15px;
  }

  *{
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
  }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }

  /* Mobile */
[class*="col-"]{
    width: 100%;
    padding: 15px;
}
@media screen and (max-width: 600px) {
    .col-3, .col-9, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
@media only screen and (max-width: 600px){
    [class*="col-"]{
    width: 100%;
    padding: 15px;
    }
}

/*Tablet*/
@media only screen and (min-width:600px) and (max-width:950px) {
    [class*="col-"]{
        float: left;
        padding: 15px;
    }

    .col-t-1{
        width: 8.33%;
    }
    
    .col-t-2{
        width: 16.66%;
    }
    
    .col-t-3{
        width: 25%;
    }
    
    .col-t-4{
        width: 33.33%;
    }
    
    .col-t-5{
        width: 41.66%;
    }
    
    .col-t-6{
        width: 50%;
    }
    
    .col-t-7{
        width: 58.33%;
    }
    
    .col-t-8{
        width: 66.66%;
    }
    
    .col-t-9{
        width: 75%;
    }
    
    .col-t-10{
        width:83.33% ;
    }
    
    .col-t-11{
        width: 91.66%;
    }
    
    .col-t-12{
        width: 100%;
    }

}

/* Desktop */

@media only screen and (min-width: 950px){

    [class*="col-"]{
        float: left;
        padding: 15px;
    }
    
    .col-1{
        width: 8.33%;
    }
    
    .col-2{
        width: 16.66%;
    }
    
    .col-3{
        width: 25%;
    }
    
    .col-4{
        width: 33.33%;
    }
    
    .col-5{
        width: 41.66%;
    }
    
    .col-6{
        width: 50%;
    }
    
    .col-7{
        width: 58.33%;
    }
    
    .col-8{
        width: 66.66%;
    }
    
    .col-9{
        width: 75%;
    }
    
    .col-10{
        width:83.33% ;
    }
    
    .col-11{
        width: 91.66%;
    }
    
    .col-12{
        width: 100%;
    }
}
