/*Podwsavaje div */
div{
    overflow: hidden;
    text-align: left;
    
}/*Podesavanje za meni  */
nav {
    width: 100%;
    padding: 0%;
    margin: 0px;
}
/*podesavanja za listuu */
ul{
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}
/*a - link*/
ul li a {
    display: block;
}
/*podesavanja za li */
ul li{
    
    background-color:cornflowerblue;
    float: left;
    color:white;
    padding: 9px 0;
    width:20%;
    border: 0.4px whitesmoke solid;
    text-align: center;
    box-sizing: border-box;

} 
/*Prelat preko li */
li:hover {
    background-color:yellowgreen;
    color: black;

}
/*telo stranice*/
body{
margin: 0px;
padding: 0px;
}
/*podesavanja za taelu*/
table{
    margin: auto 25%;
    display: inline-block;
    left: 50%;
    top: 20%;  
    text-align: left;
    border-spacing: 10px;
    table-layout:fixed;

}
.prvired{
    padding-top: auto;
    padding-left: auto;
    padding-bottom: 2px;
    width: 200px;
    height: 326px; 
    text-align:"center";
}
.drugired{
    text-align:"center";
    padding-top: auto;
    padding-left: auto;
    padding-bottom: 2px;
}

/*tekst oko tabele*/
table tr td a img {
    text-align:center;
    height: 320px;
    width: 180px; 

}
h1{
    position: relative;
    left: 25%;
    margin: auto;
    text-align: left;
}
p{
    position: relative;
    left: 25%;
    margin-left: auto;
    text-align: left;
}
h3{
    position: relative;
    left: 25%;
    margin: auto;
   
}
h4{
    position: relative;
    margin: auto;
   
    text-align: center;
   
}/*tabela 2*/
.t2 {
    top: 45px;
    position: relative;
    left: 23%;
    margin-left: auto;
    text-align: left;
    width: 50%;

}
.t2 td{
 position: relative;
 margin:10px 2% 10px 40%;
 padding: 10px 20% 10px 40%;
}
.t2 img {
position: relative;
width: 80px;
height: 120px;

}
.t2 h6 {
    position: relative;
    top: -125px;
    left: 84px;
}
.t2 p {
    position: relative;
    font-size: 10px;
    top: -150px;
    left: 84px;
}
